<div id="chat_messages" hx-swap-oob="beforeend">
  <div class="fade-in-up">
    {% include 'a_rtchat/chat_message.html' %}
  </div>


</div>

{% for message in chat_messages %}
{% if message.author == user %}
<div class="chat-message sent">
  <div class="message-content">
    <div class="message sent">{{ message.body }}</div>
    <div class="message-time">{{ message.created|date:'H:i' }}</div>
  </div>
</div>

{% else %}
<div class="chat-message received">
  <div class="">
    <div class="mr-2 row">
      <a href="{% url 'profile' message.author.username %}">
        <div class="position-relative d-flex">
          <div class="m-0 p-0 position-absolute" style="top: 0 !important; left: -50px !important" id="user-{{ message.author.id }}"></div>
          <img src="{{ message.author.profile.avatar }}" alt="{{ message.author.username }}" class="profile-pic mr-2" />
          <div class="username align-self-end">{{ message.author.profile.name }}</div>
        </div>
      </a>
    </div>
    <div class="message-content mt-2">
      <div class="message received">{{ message.body }}</div>
      <div class="message-time">{{ message.created|date:'H:i' }}</div>
    </div>

  <!-- Usando o perfil para pegar o avatar -->
  
  
</div>
{% endif %}

{% endfor %}
