<div x-data="{ modal_open: false }">
    <div x-show="modal_open" x-cloak>
        <div class="z-50" style="inset: 0;  z-index: 50;"></div>
        <div class="inset-0 z-50" style="inset: 0; z-index: 50;">
            <div class="d-flex mt-5 justify-content-center align-items-center">
                <div @click.away="modal_open = false" class="rounded-lg bg-white shadow-xl ml-5">
                    <h1 class="text-dark text-center">Leave this chat?</h1>
                    <form method="POST" action="{% url 'chatroom-leave' chat_group.group_name %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger ml-1 mb-1">Yes, I want to leave</button>
                        <a class="btn btn-secondary ml-1 cursor-pointer" @click="modal_open = false">No, I want to stay</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <button @click="modal_open = true" class="btn btn-link text-dark pt-5 position-absolute" style="padding: 0; margin: 10px; top:35px; font-weight: 600;">Leave Chat</button>
</div>
