<div>
  <div class="modal fade" id="leaveChatModal" tabindex="-1" aria-labelledby="leaveChatModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="leaveChatModalLabel">Leave this chat?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form method="POST" action="{% url 'chatroom-leave' chat_group.group_name %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger mt-2">Yes, I want to leave</button>
                      <button type="button" class="btn btn-secondary mt-2 ms-2" data-bs-dismiss="modal">No, I want to stay</button>
                  </form>
              </div>
          </div>
      </div>
  </div>

  <button 
      type="button" 
      class="btn btn-link text-muted p-0 m-2" 
      data-bs-toggle="modal" 
      data-bs-target="#leaveChatModal"
  >
      Leave Chat
  </button>
</div>
