{% comment %} <div id="online-in-chats">
  {% if online_in_chats %}
    <div class="green-dot position-absolute top-0" style="left: 5px;"></div>
  {% endif %}
</div> {% endcomment %}

{% comment %} <ul id="chats-list" class="hoverlist [&>li>a]:justify-end">
  {% for chatroom in user.chat_groups.all %}
    {% if chatroom.groupchat_name %}
      <li class="relative">
        {% if chatroom.users_online.all and user not in chatroom.users_online.all or chatroom.users_online.count > 1 %}
          <div class="green-dot absolute top-1 left-1"></div>
        {% else %}
          <div class="graylight-dot absolute top-1 left-1"></div>
        {% endif %}
        <a class="leading-5 text-right" href="{% url 'chatroom' chatroom.group_name %}">{{ chatroom.groupchat_name|slice:':30' }}</a>
      </li>
    {% endif %}
  {% endfor %}
  {% for chatroom in user.chat_groups.all %}
    {% if chatroom.is_private %}
      {% for member in chatroom.members.all %}
        {% if member != user %}
          <li class="relative">
            {% if chatroom.users_online.all and user not in chatroom.users_online.all or chatroom.users_online.count > 1 %}
              <div class="green-dot absolute top-1 left-1"></div>
            {% else %}
              <div class="graylight-dot absolute top-1 left-1"></div>
            {% endif %}
            <a href="{% url 'chatroom' chatroom.group_name %}">{{ member.profile.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul> {% endcomment %}
<ul id="chats-list" class="hoverlist [&>li>a]:justify-end p-0 m-0">
  {% comment %}CHAT GROUP LIST{% endcomment %}
  {% for chatroom in user.chat_groups.all %}
    {% if chatroom.groupchat_name %}
      <!-- Grupo de Chat -->
      <li class="relative">
        {% if chatroom.users_online.all and user not in chatroom.users_online.all or chatroom.users_online.count > 1 %}
          <div class="green-dot absolute top-1 left-1"></div>
        {% else %}
          <div class="graylight-dot absolute top-1 left-1"></div>
        {% endif %}

        <a class="d-flex justify-content-start ml-3 link-list-chats" href="{% url 'chatroom' chatroom.group_name %}">
          <div class="d-flex align-items-center">
            <img src="{% if chatroom.avatar %}
                {{ chatroom.avatar }}
              {% else %}
                {{ '/images/galaxy_lobby_1.png' }}
              {% endif %}"
              alt="Group avatar"
              class="avatar mr-3" />

            <div>
              <h6 class="mb-0">{{ chatroom.groupchat_name|slice:':30' }}</h6>
              <small class="text-muted">Group Chat</small>
            </div>

            <small class="text-muted ml-auto">10:30 AM</small>
          </div>
        </a>
      </li>
    {% endif %}
  {% endfor %}

  {% comment %}PRIVATE CHAT LIST{% endcomment %}
  {% for chatroom in user.chat_groups.all %}
  {% if chatroom.is_private %}
      {% for member in chatroom.members.all %}
          {% if member != user %}
              <li class="relative d-flex align-items-center justify-content-between position-relative p-0 m-0">
                  
                  <!-- Avatar + Nome -->
                  <a class="d-flex align-items-center link-list-chats" href="{% url 'chatroom' chatroom.group_name %}">
                      <img src="{% if member.profile.avatar %}
                                  {{ member.profile.avatar }}
                              {% else %}
                                  {{ '/images/galaxy_lobby_1.png' }}
                              {% endif %}"
                          alt="{{ member.username }}'s avatar"
                          class="avatar mr-3" />
                      <div>
                          <h6 class="mb-0">{{ member.username }}</h6>
                          <small class="text-muted">Last message preview</small>
                      </div>
                  </a>

                  <!-- Botão de Opções -->
                  <div class="dropdown">
                      <ul id="chat-{{ chatroom.id }}"  class="dropdown">
                        <button class="btn btn-sm btn-light dropdown-toggle" type="button" onclick="showDropdownMenu(this, '{{ member.username }}', '{{ chatroom.id }}')"><i class="fas fa-ellipsis-v"></i></button>
                      </ul>
                  </div>
              </li>
          {% endif %}
      {% endfor %}
  {% endif %}
{% endfor %}

</ul>
