<span id="online-count" hx-swap-oob="outerHTML" class="fade-in-scale p-0 m-0 row">
  {{ online_count }}
  <style>
    @keyframes fadeInScale {
      from {
        opacity: 0;
        transform: scale(4);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }
    .fade-in-scale {
      animation: fadeInScale 0.6s ease;
    }
  </style>
</span>

{% if online_count %}
  <div id="online-icon" class="dot green-dot position-absolute p-0 m-0"></div>
{% else %}
  <div id="online-icon" class="dot gray-dot position-absolute"></div>
{% endif %}

<ul id="groupchat-members" class="d-flex justify-content-center row">
  {% for member in chat_group.members.all %}
    <li class="d-flex justify-content-center w-100 col">
      <a href="{% url 'profile' member.username %}" class="d-flex text-muted align-items-center justify-content-center w-25 row">
        <div class="position-relative col-6 row">
          {% if member in chat_group.users_online.all %}
            {% comment %}User on{% endcomment %}
            <div class="green-dot border-2 position-relative top-0 left-0 border-dark col-1 p-0 m-0"></div>
          {% else %}
            {% comment %}User off{% endcomment %}
            <div class="gray-dot border-2 position-relative top-0 left-0 border-dark col-2"></div>
          {% endif %}
          <img src="{{ member.profile.avatar }}" class="rounded-circle object-cover mr-3 col" style="width: 50px;" />
        </div>
        {{ member.profile.name|slice:':15' }}
      </a>
    </li>
  {% endfor %}
</ul>

{% for user in users %}
  {% if user in chat_group.users_online.all %}
    <div id="user-{{ user.id }}" class="green-dot border-2 position-absolute border-dark col-2 p-0 m-0" style="top:0px"></div>
  {% else %}
    <div id="user-{{ user.id }}" class="gray-dot border-2 position-absolute border-dark col-1 p-1" style="top:0px"></div>
  {% endif %}
{% endfor %}
