{% extends 'layouts/blank.html' %}

{% block content %}
  {% if chat_group.members.exists %}
    <a href="{% url 'chatroom-leave' chat_group.group_name %}">{% include 'a_rtchat/partials/modal_chat_leave.html' %}</a>
  {% endif %}

  <div class="container my-4">
    {% if chat_group.groupchat_name %}
      <div class="d-flex justify-content-center">
        <h2>{{ chat_group.groupchat_name }}</h2>
        {% if user == chat_group.admin %}
          <a href="{% url 'edit-chatroom' chat_group.group_name %}">
            <div class="p-2 bg-dark text-white rounded">
              <svg class="text-muted" width="16" height="16">
                <path d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.081-.286.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-3.763a.25.25 0 0 0-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 0 0 0-.354Z"></path>
              </svg>
            </div>
          </a>
        {% endif %}
      </div>
    {% endif %}
    {% comment %}Janela do Chat (COMEÇO) CHAT OLD STYLE{% endcomment %}
    {% comment %} <div id="chat_window" class="bg-dark rounded shadow-lg p-3 mt-0" style="z-index: 1">
      <div class="text-success bg-dark p-2 sticky-top" style="z-index:1">
        {% if other_user %}
          <div id="online-icon" class="position-absolute top-0 left-0"></div>
          <a href="{% url 'profile' other_user.username %}">
            <div class="d-flex align-items-center gap-2">
              <img class="rounded-circle img-fluid mr-2" src="{{ other_user.profile.avatar }}" style="width: 65px;" />
              <div>
                <span class="font-weight-bold text-white">{{ other_user.profile.name }}</span>
                <span class="text-muted">@{{ other_user.username }}</span>
              </div>
            </div>
          </a>
        {% elif chat_group.groupchat_name %}
          <ul id="groupchat-members" class="d-flex flex-wrap gap-3">
            {% for member in chat_group.members.all %}
              <li class="text-center">
                <a href="{% url 'profile' member.username %}" class="text-muted d-block">
                  <img src="{{ member.profile.avatar }}" class="rounded-circle img-fluid" style="width: 10px;" />
                  {{ member.profile.name|slice:':10' }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <div id="online-icon"></div>
          <div class="d-flex justify-content-center">
            <div class="bg-white text-center p-2 rounded">
              <span id="online-count"></span> onlines
            </div>
          </div>
        {% endif %}
      </div>

      <!-- CHAT 2 -->

      <!--   <div id='chat_container' class="overflow-auto">
            <ul id='chat_messages' class="d-flex flex-column justify-content-end gap-3 p-3">
                {% for message in chat_messages reversed %}
                {% include 'a_rtchat/chat_message.html' %}
                {% endfor %}
            </ul>
        </div>   -->

      <div class="sticky-bottom p-3 bg-secondary rounded">
        <div class="d-flex flex-column gap-2 align-items-center">
          <form id="chat_message_form" class="w-100" hx-ext="ws" ws-connect="/ws/chatroom/{{ chatroom_name }}" ws-send _="on htmx:wsAfterSend reset() me">
            {% csrf_token %}
            {{ form }}
          </form>
          <form id="chat_file_form" enctype="multipart/form-data" class="d-flex align-items-center w-100" hx-post="{% url 'chat-file-upload' chat_group.group_name %}" hx-target="#chat_messages" hx-swap="beforeend" _="on htmx:beforeSend reset() me">
            {% csrf_token %}
            <!--   <input type="file" name="file" id="id_file" class="bg-transparent text-muted">
                    <button type="submit" class="btn btn-secondary">Submit File</button>   -->
          </form>
        </div>
      </div>
    </div> {% endcomment %}

    <div class="container-fluid h-100" id="chat_window">
      <div class="row chat-container bg_modal chat-glow">
        {% comment %}Container da esquerda (MENSAGENS, GRUPOS E PUBLIC CHAT){% endcomment %}
        <div class="col-md-4 col-xl-4 chat-list p-0">
          <a href="{% url 'home' %}" class="link-list-chats">
            <div class="chat-header d-flex align-items-center">
              <img src="../../../static/images/galaxy_lobby_1.png" alt="User avatar" class="avatar mr-2" />
              <div>
                <h6 class="mb-0">Public Chat</h6>
              </div>
            </div>
          </a>

          <div class="chat-item active" style="z-index: 1" data-contact="Alice Johnson">
            {% comment %}Mensagens privadas LIST{% endcomment %}
            
            {% include 'a_rtchat/partials/online_status.html' %}
            
            {% comment %}Mensagens privadas LIST (FIM){% endcomment %}
            {% comment %}Container da esquerda (MENSAGENS, GRUPOS E PUBLIC CHAT) FIM{% endcomment %}
          </div>
        </div>

        <div class="col-md-8 col-xl-8 chat-messages p-0">
          <div class="message-header d-flex align-items-center">
            {% comment %} <img src="https://10x10photographyproject.com/wp-content/uploads/2022/04/10x10-2022-10.jpg?w=142&h=142" alt="Contact avatar" class="avatar mr-2" />
            <div>
              <h6 class="mb-0" id="current-chat-name">Limão Boladão</h6>
              <small class="text-muted">Online</small>
            </div> {% endcomment %}

            {% if chat_group.is_private %}
              {% if other_user %}
                <a href="{% url 'profile' other_user.username %}" class="d-flex">
                  <img src="{{ other_user.profile.avatar }}" style="width: 40px" class="avatar mr-2" />
                  <h6 class="mb-0 text-dark text-center align-self-center" id="current-chat-name">{{ other_user.username }}</h6>
                </a>
              {% endif %}
            {% else %}
              <img src="../../../static/images/galaxy_lobby_1.png" style="width: 40px" alt="" />
              <h6 class="mb-0 ml-2" id="current-chat-name">Public Chat</h6>
            {% endif %}
          </div>

          <div class="message-list" id="message-list">
            <div id="chat_container" hx-swap-oob="true">
              <ul id="chat_messages">
                {% for message in chat_messages reversed %}
                  <!-- Usando o template para renderizar mensagens -->
                  <div id="message-{{ message.id }}">
                    {% include 'a_rtchat/chat_message.html' %}
                  </div>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="chat-input w-100 d-flex justify-content-center p-0 m-0" style="position: sticky; bottom: 0; background-color: transparent;">
            <div class="input-group row w-100 d-flex justify-content-center p-0 m-0">
              <form id="chat_message_form" class="w-100 bg-secondary p-2 rounded" hx-ext="ws" ws-connect="/ws/chatroom/{{ chatroom_name }}" ws-send _="on htmx:wsAfterSend reset() me">
                {% csrf_token %}

                {% comment %} Emoji List {% endcomment %}
                <div class="container bg-white text-white position-absolute emojis d-none" id="emojiShow"  style="top: -8.5em; left: 0px; width: auto">
                    <span>😃</span> <span>😁</span> <span>😅</span> <span>🤣</span> <span>😉</span> 
                    <span>😊</span> <span>😇</span> <span>😲</span> <span>😳</span> <span>😥</span> 
                    <span>🥰</span> <span>😍</span> <span>😘</span> <span>😜</span> <span>🤫</span>
                    <span>🤤</span> <span>😈</span> <span>😻</span> <span>🙈</span> <span>🙊</span> 
                    <span>💘</span> <span>💕</span> <span>💞</span> <span>💌</span> <span>💑</span> 
                    <span>💐</span> <span>🌹</span> <span>🎀</span> <span>🍨</span> <span>🍭</span> 
                    <span>💃</span> <span>🏄</span> <span>🛀</span> <span>🏩</span> <span>👑</span> 
                    <span>🦁</span> <span>🦄</span> <span>🎠</span> <span>🧸</span> <span>💍</span>
                </div>
                {% comment %}INPUT{% endcomment %}
                <div class="d-flex row p-0 m-0">

                  <button type="button" style="width: 45px" onclick="showEmoji()" class="btn btn-light text-center col-1"><i class="fas fa-smile"></i></button>

                  {{ form.body }}

                  <button type="submit" style="width: 45px" class="btn btn-light text-center col-1"><i class="fas fa-paper-plane"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% comment %}Janela do Chat (FIM){% endcomment %}
  </div>
{% endblock %}

{% block javascript %}
  <script>

    document.addEventListener("DOMContentLoaded", function () {
      const emojiContainer = document.getElementById("emojiShow");
      const inputMessage = document.getElementById("form-input-message");
  
      // Verifica se o container existe
      if (emojiContainer && inputMessage) {
          emojiContainer.addEventListener("click", function (event) {
              if (event.target.tagName === "SPAN") {
                  const emoji = event.target.textContent;
                  inputMessage.value += emoji; // Adiciona o emoji no input
                  inputMessage.focus(); // Mantém o foco no input
              }
          });
      }
  });

  function scrollToBottom(time = 0) {
    setTimeout(function () {
        const container = document.getElementById('message-list');
        container.scrollTop = container.scrollHeight;
    }, time);
}

// Observa mudanças no #message-list
const observer = new MutationObserver(function (mutationsList) {
    // Verifica se algum novo nó foi adicionado
    mutationsList.forEach(function (mutation) {
        if (mutation.type === 'childList' && mutation.addedNodes.length > 0) {
            scrollToBottom(); // Chama a função para rolar para o fundo
        }
    });
});

// Configuração para observar a adição de nós dentro de #message-list
const config = { childList: true, subtree: true };

// Começa a observação
const container = document.getElementById('message-list');
if (container) {
    observer.observe(container, config);
}
    
    const labels = document.querySelectorAll('label')
    
    labels.forEach((label) => {
      label.classList.add('d-none')
    })

    function showEmoji() {
      const emojiShow = document.getElementById('emojiShow')

      if (emojiShow.classList.contains('d-none')) {
        emojiShow.classList.remove('d-none')
      } else {
        emojiShow.classList.add('d-none')
      }

    }

    function viewProfile(contactName) {
      try {
          window.location.href = '/@' + contactName + '/';
      } catch (error) {
          console.error('Error viewing profile:', error);
      }
  }
  
  function addFriend(contactName) {
      try {
          console.log('Adding friend: ' + contactName);
          alert('Added ' + contactName + ' as friend');
      } catch (error) {
          console.error('Error adding friend:', error);
      }
  }

  function showDropdownMenu(button, contactName, id) {
    // Remove apenas o dropdown do usuário específico
    let existingMenu = document.querySelector(`#dropdown-${contactName}-${id}`);
    if (existingMenu) {
        existingMenu.remove();
    }

    // Criar o novo menu
    const dropdownMenu = document.createElement('div');
    dropdownMenu.className = 'dropdown-menu custom-dropdown-menu show';
    dropdownMenu.id = `dropdown-${contactName}-${id}`;

    const rect = button.getBoundingClientRect();
    dropdownMenu.style.top = `${rect.bottom + window.scrollY}px`;
    dropdownMenu.style.left = `${rect.left + window.scrollX}px`;

    dropdownMenu.innerHTML = `
        <a class="dropdown-item" href="#" onclick="viewProfile('${contactName}')">View profile</a>
        <a class="dropdown-item" href="#" onclick="addFriend('${contactName}', '${id}')">Add friend</a>
        <a class="dropdown-item" href="#" onclick="deleteFriend('${contactName}', '${id}')">Delete friend</a>
        <a class="dropdown-item" href="#" onclick="challengeToMatch('${contactName}', '${id}')">Challenge to match</a>
    `;

    document.body.appendChild(dropdownMenu);

    // Remover ao sair com o mouse ou clicar em uma opção
    dropdownMenu.addEventListener('mouseleave', () => removeDropdownMenu(contactName, id));
    dropdownMenu.addEventListener('click', () => removeDropdownMenu(contactName, id));
}

function removeDropdownMenu(contactName, id) {
    const existingMenu = document.querySelector(`#dropdown-${contactName}-${id}`);
    if (existingMenu) {
        existingMenu.remove();
    }
  

}

  </script>
{% endblock %}
