<div class="container">
    <div class="card card-glow card-glow:hover">
        <div class="card-header text-center">
            Histórico de Partidas
        </div>
        <div class="row text-center justify-content-center">
            <div class="col-3  d-flex justify-content-center align-items-center">
                <strong>Player</strong>
            </div>
            <div class="col-2  d-flex justify-content-center align-items-center">
                <strong>Lifes</strong>
            </div>
            <div class="col-2  d-flex justify-content-center align-items-center">
                <strong>Lifes</strong>
            </div>
            <div class="col-3  d-flex justify-content-center align-items-center">
                <strong>Enemy</strong>
            </div>
        </div>
        <div class="card-body">
            <div class="row border-bottom mb-2 justify-content-center">
                <div class="col-3 list-group-item-danger text-white d-flex justify-content-between align-items-center">
                    <img src="assets/profileDefault.png" class="rounded-circle" height="50" alt="et photo" loading="lazy" />
                    <span>lorem ipsum</span>
                </div>
                <div class="col-2   d-flex justify-content-center align-items-center">
                    <span>
                        <strong>00</strong>
                    </span>
                </div>
                <div class="col-2   d-flex justify-content-center align-items-center">
                    <span>
                        <strong>03</strong>
                    </span>
                </div>
                <div class="col-3 list-group-item-success text-white d-flex justify-content-between align-items-center">
                    <span>lorem ipsum</span>
                    <img src="assets/profileDefault.png" class="rounded-circle" height="50" alt="et photo" loading="lazy" />
                </div>
            </div>

            <div class="row border-bottom mb-2 justify-content-center">
                <div class="col-3 list-group-item-success text-white d-flex justify-content-between align-items-center">
                    <img src="assets/profileDefault.png" class="rounded-circle" height="50" alt="et photo" loading="lazy" />
                    <span>lorem ipsum</span>
                </div>
                <div class="col-2   d-flex justify-content-center align-items-center">
                    <span>
                        <strong>01</strong>
                    </span>
                </div>
                <div class="col-2   d-flex justify-content-center align-items-center">
                    <span>
                        <strong>00</strong>
                    </span>
                </div>
                <div class="col-3 list-group-item-danger text-white d-flex justify-content-between align-items-center">
                    <span>lorem ipsum</span>
                    <img src="assets/profileDefault.png" class="rounded-circle" height="50" alt="et photo" loading="lazy" />
                </div>
            </div>

            <div class="row border-bottom mb-2 justify-content-center">
                <div class="col-3 list-group-item-danger text-white d-flex justify-content-between align-items-center">
                    <img src="assets/profileDefault.png" class="rounded-circle" height="50" alt="et photo" loading="lazy" />
                    <span>lorem ipsum</span>
                </div>
                <div class="col-2   d-flex justify-content-center align-items-center">
                    <span>
                        <strong>00</strong>
                    </span>
                </div>
                <div class="col-2   d-flex justify-content-center align-items-center">
                    <span>
                        <strong>03</strong>
                    </span>
                </div>
                <div class="col-3 list-group-item-success text-white d-flex justify-content-between align-items-center">
                    <span>lorem ipsum</span>
                    <img src="assets/profileDefault.png" class="rounded-circle" height="50" alt="et photo" loading="lazy" />
                </div>
            </div>
            
        </div>
        
        <div class="card-footer">
            <nav>
                <ul class="pagination">
                    <li><a href="#" class="btn btn-light">Anterior</a></li>
                    <li><a href="#" class="btn btn-light">1</a></li>
                    <li><a href="#" class="btn btn-light">2</a></li>
                    <li><a href="#" class="btn btn-light">3</a></li>
                    <li><a href="#" class="btn btn-light">Próximo</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>