<!doctype html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  {% load static %}
  <!-- CSS Global -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- CSS Específico do Template -->
  {% block extra_css %}
  {% endblock %}

  <title>
    {% block title %}
    ft_transcendence
    {% endblock %}
  </title>

</head>

<body class="body-bg-color">

    {% block content %}
    <!-- AQUI ENTRA O CONTEÚDO INJETADO -->
    {% endblock %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% block extra_js %}
    {% endblock %}
</body>

</html>
