{% load i18n %}
{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <!-- CSS Global -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- CSS Específico do Template -->
    {% block extra_css %} {% endblock %}

    <title>
        {% block title %} {% trans "ft_transcendence" %} {% endblock %}
    </title>
    {% django_htmx_script %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="body-bg-color">

    {% include 'includes/messages.html' %}

    {% block layout %}
    {% endblock %}

    {% if user.is_authenticated %}
    <footer hx-ext="ws" ws-connect="/ws/online-status/"></footer>
    {% endif %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        document.addEventListener('htmx:afterOnLoad', function(event) {
            console.log("oi");
            if (event.detail.xhr.response.redirect) {
                window.location.href = event.detail.xhr.response.redirect;
            }
        });
    </script>
    {% block javascript %}{% endblock %}

</body>

</html>