{% load static %}
<header class="d-flex align-items-center justify-content-between bg-dark text-white sticky-top px-4 py-1" style="z-index: 2">
  <div class="d-flex align-items-center">
    <a class="d-flex align-items-center text-decoration-none text-white mr-4" href="/">
      <img class="mr-2 img-fluid" style="max-height: 55px;" src="{% static 'images/logo.png' %}" alt="Logo" />
    </a>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="flex-direction: row;">
      <li class="nav-item m-2"><a href="{% url 'home' %}" class="nav-link">Chat</a></li>
      <li class="nav-item m-2"><a href="{% url 'pong_local' %}" class="nav-link">Partida rápida</a></li>
      <li class="nav-item m-2"><a href="{% url 'snake' %}" class="nav-link">Snake</a></li>
      <li class="nav-item m-2"><a href="/play/" class="nav-link">Torneio</a></li>
    </ul>

    <div id="online-user-count" class="ml-3"></div>


  </div>
  <nav class="position-relative">
    <ul class="nav">
      {% if request.user.is_authenticated %}

        <li class="nav-item dropdown">
          <a class="nav-link text-white dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="rounded-circle mr-2" style="width: 40px; height: 40px; object-fit: cover;" src="{{ request.user.profile.avatar }}" alt="Avatar" />
            <span>{{ request.user.profile.name }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right bg-white text-dark shadow mt-0 mb-0 pt-0 pb-0" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
            <a class="dropdown-item" href="{% url 'profile-edit' %}">Edit Profile</a>
            <a class="dropdown-item" href="{% url 'new-groupchat' %}">Create Chat</a>
            <a class="dropdown-item" href="{% url 'profile-settings' %}">Settings</a>
            <a class="dropdown-item" href="{% url 'signout' %}">Sign Out</a>
          </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'account_login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'account_signup' %}?next={% url 'profile-onboarding' %}">Signup</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</header>
