<messages>
    {% if messages %}
    <div>
        {% for message in messages %}
        <div class="position-absolute w-100 d-flex justify-content-center mt-3" style="z-index: 1050;">
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show d-flex align-items-center" role="alert"
                style="max-width: 600px; transition: opacity 0.7s ease-out;">
                <div class="text-lg">{{ message }}</div>
                <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <script>
            setTimeout(() => {
                $('.alert').alert('close');
            }, 6000);
        </script>
        {% endfor %}
    </div>
    {% endif %}
</messages>
