<messages>
    {% if messages %}
    <div x-data="{ showMessage: false }">
    {% for message in messages %}
    <div class="position-fixed top-0 start-50 translate-middle-x mt-3 px-3 z-3" style="max-width: 36rem;">
        <div x-cloak 
             class="alert alert-{{ message.tags }} d-flex align-items-center py-2 px-4 rounded-3" 
             role="alert"
             x-show="showMessage" 
             x-init="setTimeout(() => showMessage = true, 200), setTimeout(() => showMessage = false, 6000)"
             x-transition:enter="transition duration-700 ease-out"
             x-transition:enter-start="opacity-0 translate-up-lg"
             x-transition:enter-end="opacity-100 translate-y-0"
             x-transition:leave="transition duration-200 ease-in"
             x-transition:leave-start="opacity-100 translate-y-0"
             x-transition:leave-end="opacity-0 translate-up-lg">
            <div>
                <div class="fs-5">{{ message }}</div>
            </div>
            <div class="ms-auto" style="cursor: pointer;" @click="showMessage = false">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" stroke="currentColor" width="32" height="32" class="ms-2">
                    <path d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    {% endif %}
</messages>