<html>

<head>
    <meta charset="UTF-8">
    <title>Pong Clássico</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #000;
            font-family: 'Press Start 2P', cursive;
        }

        #gameCanvas {
            border: 2px solid #fff;
        }

        #countdown {
            position: absolute;
            color: #fff;
            font-size: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .players {
            color: #fff;
            display: flex;
            justify-content: space-between;
            width: 800px;
            margin-bottom: 20px;
        }

        #winner {
            position: absolute;
            color: #fff;
            font-size: 32px;
            text-align: center;
            display: none;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 20px;
            border: 2px solid #fff;
        }
    </style>
</head>

<body>
    <div class="players">
        <div><span class="p1">Player 1</span>: <span id="p1Lives">🐄🐄🐄</span></div>
        <div><span class="p2">Player 2</span>: <span id="p2Lives">🐄🐄🐄</span></div>
    </div>
    <div id="countdown"></div>
    <div id="winner"></div>
    <canvas id="gameCanvas" width="800" height="400"></canvas>

    <script>
        let playerNum = null; // Inicialize playerNum como null
        let websocket = new WebSocket('ws://localhost:8001/ws/pong/');

        const canvas = document.getElementById('gameCanvas');
        const ctx = canvas.getContext('2d');
        const countdownElement = document.getElementById('countdown');
        const winnerElement = document.getElementById('winner');
        const p1LivesElement = document.getElementById('p1Lives');
        const p2LivesElement = document.getElementById('p2Lives');

        let waitingMessage = document.createElement('div');
        waitingMessage.id = 'waitingMessage';
        waitingMessage.textContent = 'Aguardando jogador...';
        waitingMessage.style.position = 'absolute'; // ou a posição que você preferir
        waitingMessage.style.color = 'white';      // estilo da mensagem
        document.body.appendChild(waitingMessage);

        let gameStarted = false;
        let gameEnded = false;
        let countdown = 3;

        const maxScore = 3;

        let leftScore = 0;
        let rightScore = 0;

        // Game objects
        const ball = {
            x: canvas.width / 2,
            y: canvas.height / 2,
            radius: 10,
        };

        const paddleHeight = 100;
        const paddleWidth = 10;

        const leftPaddle = {
            x: 0,
            y: canvas.height / 2 - paddleHeight / 2
        };

        const rightPaddle = {
            x: canvas.width - paddleWidth,
            y: canvas.height / 2 - paddleHeight / 2
        };

        // Controle de teclado (apenas para o paddle deste cliente)
        const keys = {};

        document.addEventListener('keydown', (e) => {
            keys[e.code] = true;
        });

        document.addEventListener('keyup', (e) => {
            keys[e.code] = false;
        });

        websocket.onmessage = function (event) {

            let data = JSON.parse(event.data);
            console.log("Mensagem recebida do servidor:", event.data);
            if (data.type === "waiting_for_player") {
                // A mensagem já foi adicionada ao HTML no onopen, então não faça nada aqui
            } else if (data.type === "player_joined") {
                waitingMessage.remove(); // Remove a mensagem quando o segundo jogador entra
            }
            if (data.type === "game_state_update") {
                ball.x = data.ball_x;
                ball.y = data.ball_y;
                leftPaddle.y = data.left_paddle_y;
                rightPaddle.y = data.right_paddle_y;
                leftScore = data.left_score;
                rightScore = data.right_score;

                updateLives(); // Atualiza a exibição das vidas
                checkWinner(); // Verifica se há um vencedor

            } else if (data.type == "game_start") {
                startCountdown();
                // Define o número do jogador quando o jogo começa (você pode receber isso do servidor também)
                if (playerNum === null) { // Garante que o playerNum seja definido apenas uma vez
                    playerNum = data.player_num;
                    document.querySelector('.p1').textContent = data.player1_name;
                    document.querySelector('.p2').textContent = data.player2_name;
                }
            } else if (data.type === "start_countdown") {
                leftScore = data.left_score;
                rightScore = data.right_score;
                updateLives(); // Atualiza a exibição das vidas

                startCountdown(); // Inicia a contagem regressiva antes de reiniciar o jogo
            }
        };

        function startCountdown() {
            console.log("Iniciando contagem regressiva...");
            gameStarted = false; // Pausa o jogo
            countdown = 3;
            countdownElement.style.display = "flex";
            countdownElement.textContent = countdown;

            if (checkWinner()) {
                countdownElement.style.display = "none";
                return;
            }

            const countdownInterval = setInterval(() => {
                countdown--;
                countdownElement.textContent = countdown;

                if (countdown <= 0) {
                    clearInterval(countdownInterval);
                    countdownElement.style.display = "none";
                    gameStarted = true; // Reinicia o jogo

                    if (checkWinner()) {
                        gameStarted = false; // Para o jogo se houver um vencedor
                    }
                    if(gameStarted){
                        gameLoop();
                    }
                }
            }, 1000);
        }


        function updateLives() {
            const remainingLivesP1 = '🐄'.repeat(maxScore - rightScore);
            const remainingLivesP2 = '🐄'.repeat(maxScore - leftScore);
            p1LivesElement.textContent = remainingLivesP1;
            p2LivesElement.textContent = remainingLivesP2;
        }

        function checkWinner() {
            if (leftScore >= maxScore) {
                gameEnded = true;
                winnerElement.style.display = 'block';
                winnerElement.textContent = 'Player 1 Venceu! 🏆';
                return true;
            } else if (rightScore >= maxScore) {
                gameEnded = true;
                winnerElement.style.display = 'block';
                winnerElement.textContent = 'Player 2 Venceu! 🏆';
                return true;
            }
            return false;
        }

        function movePaddles() {
            if (playerNum === 1) {
                if (keys['KeyW'] && leftPaddle.y > 0) {
                    leftPaddle.y -= 5;
                }
                if (keys['KeyS'] && leftPaddle.y < canvas.height - paddleHeight) {
                    leftPaddle.y += 5;
                }
            } else if (playerNum === 2) {
                if (keys['ArrowUp'] && rightPaddle.y > 0) {
                    rightPaddle.y -= 5;
                }
                if (keys['ArrowDown'] && rightPaddle.y < canvas.height - paddleHeight) {
                    rightPaddle.y += 5;
                }
            }


        }

        function draw() {
            // Clear canvas
            ctx.fillStyle = '#000';
            ctx.fillRect(0, 0, canvas.width, canvas.height);

            // Draw paddles
            ctx.fillStyle = '#fff';
            ctx.fillRect(leftPaddle.x, leftPaddle.y, paddleWidth, paddleHeight);
            ctx.fillRect(rightPaddle.x, rightPaddle.y, paddleWidth, paddleHeight);

            // Draw ball
            ctx.beginPath();
            ctx.arc(ball.x, ball.y, ball.radius, 0, Math.PI * 2);
            ctx.fill();

            // Draw center line
            ctx.setLineDash([10, 10]);
            ctx.beginPath();
            ctx.moveTo(canvas.width / 2, 0);
            ctx.lineTo(canvas.width / 2, canvas.height);
            ctx.stroke();
        }

        websocket.onopen = function (event) {
            console.log("Conexão WebSocket aberta.");
            websocket.send(JSON.stringify({ "action": "join_game" })); // Envie join_game no onopen
        };

        function gameLoop() {
            console.log("PlayerNum: ", playerNum);
            if (gameStarted && !gameEnded && playerNum !== null /* && !isResetting */) {
                movePaddles();
                draw();

                // Envia a posição do paddle correspondente ao jogador
                let message = {
                    "action": "update_game_state"
                };
                if (playerNum === 1) {
                    message.left_paddle_y = leftPaddle.y;
                } else if (playerNum === 2) {
                    message.right_paddle_y = rightPaddle.y;
                }

                websocket.send(JSON.stringify(message));

            }
            requestAnimationFrame(gameLoop);
        }


        window.addEventListener('beforeunload', function () {
            websocket.send(JSON.stringify({ "action": "leave_game" }));
        });
    </script>

    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</body>

</html>