/* Aumentar o tamanho da letra da navbar */
.navbar-nav .nav-link {
    font-size: 1.2rem;
}

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.dropdown-menu-right a.dropdown-item:hover {
    background-color: #d6d6d6;
}

.chat-container {
    height: 800px !important;
    max-width: 1400px;
    margin: 25px auto;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
}

.chat-list {
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #dadada;
}

.chat-messages {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.message-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.565);
}

.chat-input {
    background-color: #f0f0f0;
    padding: 10px;
}

.chat-header, .message-header {
    background-color: #ddd8d8;
    padding: 10px 16px;
    border: 1px solid rgba(154, 150, 150, 0.565);
}

.avatar, .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-item {
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    background-color: rgba(255, 255, 255, 0.776);
    z-index: 999;
}
.chat-item:hover {
    background-color: #f5f5f5;
}
.chat-item.active {
    background-color: rgba(253, 253, 253, 0.911);
}
.chat-item .dropdown {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s;
}
.chat-item:hover .dropdown {
    opacity: 1;
}

.message-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.message-container.received {
    align-items: flex-start;
}

.message-container.sent {
    align-items: flex-end;
}

.chat-message {
    display: flex;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    max-width: 60%;
}

.chat-message.received {
    flex-direction: row;
    align-self: flex-start;
}

.chat-message.sent {
    flex-direction: row-reverse;
    align-self: flex-end;
    margin-left: auto; /* Alinha a mensagem à direita */
}

.message-content {
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 100%;
    padding: 8px 12px;
    border-radius: 7.5px;
    position: relative;
    word-wrap: break-word;
}

.message.received {
    background-color: #bef5de;
    border-top-left-radius: 0;
}


.message.received.system-message {
    background-color: #ff0000;
    border-top-left-radius: 0;
    color: white !important;
    font-weight: 600;
    text-transform: uppercase;
}

.message.sent {
    background-color: #bad4f7;
    border-top-right-radius: 0;
}

.username {
    font-weight: bold;
    color: #555;
    margin-bottom: 3px;
}

.message-time {
    font-size: 0.75em;
    color: #888;
    text-align: right;
    margin-top: 5px;
}

.dropdown-menu {
    position: absolute;
    z-index: 9999;
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 150px; /* Largura mínima para visualização */
    display: none; 
}

.custom-dropdown-menu.show {
    display: block;
}


/* Estilos para a div de emojis */
.emojis {
    /* display: none; Inicialmente oculta */
    /*position: absolute;
    bottom: 60px;  Ajuste conforme necessário */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.emojis span {
    font-size: 1.5rem;
    cursor: pointer;
    margin: 5px;
}

/* Exibe a div de emojis quando estiver ativa */
.emojis.show {
    display: block;
}


/****************************************************************/
.publicProfile-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.publicProfile-content {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.8)!important;
    transition: box-shadow 0.3s ease;
    z-index: 1010;
}

.publicProfile-content:hover {
    box-shadow: 0 0 35px rgba(255, 255, 255, 1)!important;; 
}


.publicProfile-header {
    text-align: center;
    padding: 20px 0;
}

.publicProfile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 48px;
}

.stats-card {
    background: #f8f9fa;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7); 
}

.stats-card p {
    display: flex;
    justify-content: space-between;
}

.badge-item {
    text-align: center;
    margin: 10px;
}

.badge-icon {
    font-size: 2em;
    color: gold;
}

.match-history-item {
    border-left: 4px solid;
    margin-bottom: 10px;
}

.victory {
    border-left-color: #28a745;
}

.defeat {
    border-left-color: #dc3545;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    background: none;
    border: none;
    padding: 0;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #dc3545;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


/*************************  EFEITO NO BADGE  ***********************/
.badge-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.badge-img{
    width: 128px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7); 
    border-radius: 20px;
    animation: float 3s ease-in-out infinite; 
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4)) 
                drop-shadow(-2px -2px 3px rgba(255, 255, 255, 0.8));
}


@keyframes float {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-5); 
        box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.5); 
    }
    100% {
        transform: translateY(0); 
    }
}