{% extends 'layouts/blank.html' %}

<!-- #67 - Tela Badge Gallery-->
{% block content %}

<div class="container-fluid py-5">
    <div class="achievements-container">
        <div class="title card-header">
            <h1 class="text-center">PONG BADGES</h1>
        </div>
        
        <div class="card-deck">
            <!-- First row of badges -->
            <div class="badge-card p-3 position-relative">
                <div class="badge-icon">
                    <div class="badge-item">
                        <img class="badge-img" src="../../../static/assets/towel_icon.png" title="Complete Profile">
                        <img class="badge-img" src="" title="Complete Profile">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="text-center">Complete Profile</h5>
                    <p class="badge-description">Complete the Profile with New photo and Description.</p>
                </div>
            </div>

            <div class="badge-card p-3 position-relative">
                <div class="badge-icon">
                    <div class="badge-item">
                        <img class="badge-img" src="../../../static/assets/piramid_icon.png" title="Piramid">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="text-center">Piramid</h5>
                    <p class="badge-description">Invite 3 Friends to Play the game.</p>
                </div>
            </div>

            <div class="badge-card p-3 position-relative">
                <div class="badge-icon">
                    <div class="badge-item">
                        <img class="badge-img" src="../../../static/assets/galaxy_icon.png" title="Galaxy">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="text-center">Galaxy</h5>
                    <p class="badge-description">Reaching the final stage of a tournament.</p>
                </div>
            </div>

            <div class="badge-card p-3 position-relative">
                <div class="badge-icon">
                    <div class="badge-item">
                        <img class="badge-img" src="../../../static/assets/first_contact_icon.png" title="First Contact">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="text-center">First Contact</h5>
                    <p class="badge-description">Chat with other players.</p>
                </div>
            </div>

            <!-- Second row of badges -->
            <div class="badge-card p-3 position-relative">
                <div class="badge-icon">
                    <div class="badge-item">
                        <img class="badge-img" src="../../../static/assets/cow_savior_icon.png" title="Cow Savior">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="text-center">Cow Savior</h5>
                    <p class="badge-description">Save 50 cows from abduction.</p>
                </div>
            </div>

            <div class="badge-card p-3 position-relative">
                <div class="badge-icon">
                    <div class="badge-item">
                        <img class="badge-img" src="../../../static/assets/firiends_icon.png" title="Coalition">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="text-center">Coalition</h5>
                    <p class="badge-description">Add another player as a friend.</p>
                </div>
            </div>

            <div class="badge-card p-3 position-relative">
                <div class="badge-icon">
                    <div class="badge-item">
                        <img class="badge-img" src="../../../static/assets/first_win_icon.png" title="First Win">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="text-center">First Win</h5>
                    <p class="badge-description">Win your first match.</p>
                </div>
            </div>

            <div class="badge-card p-3 position-relative">
                <div class="badge-icon">
                    <div class="badge-item">
                        <img class="badge-img" src="../../../static/assets/tromphy_gold_icon.png" title="Winner">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="text-center">Winner</h5>
                    <p class="badge-description">Win a tournament in first place.</p>
                </div>
            </div>

            <div class="badge-card p-3 position-relative">
                <div class="badge-icon">
                    <div class="badge-item">
                        <img class="badge-img" src="../../../static/assets/tromphy_silver_icon.png" title="Second place">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="text-center">Second place</h5>
                    <p class="badge-description">Win a tournament in second place.</p>
                </div>
            </div>

            <div class="badge-card p-3 position-relative">
                <div class="badge-icon">
                    <div class="badge-item">
                        <img class="badge-img" src="../../../static/assets/tromphy_brown_icon.png" title="Third place ">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="text-center">Third place</h5>
                    <p class="badge-description">Win a tournament in third place.</p>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}
