{% extends 'layouts/box.html' %}

{% block content %}
  {% if onboarding %}
    <h1 class="mb-4 text-center">Complete Your Profile</h1>
  {% else %}
    <h1 class="mb-4 text-center">Edit Your Profile</h1>
  {% endif %}

  <div class="text-center">
    <img id="avatar" class="rounded-circle img-thumbnail mb-4" style="width: 140px; height: 140px; object-fit: cover;" src="{{ user.profile.avatar }}" alt="User Avatar" />
    <div>
      <h1 id="displayname" class="h4">{{ user.profile.displayname|default:'' }}</h1>
      <div class="text-muted">@{{ user.username }}</div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <form method="POST" enctype="multipart/form-data" class="mt-4 row">
      {% csrf_token %}
      <div class="form-group col-12">{{ form.as_p }}</div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary ml-2 mb-1">Submit</button>

        {% if onboarding %}
          <a class="btn btn-secondary ml-2" href="{% url 'home' %}">Skip</a>
        {% else %}
          <a class="btn btn-secondary ml-2" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
        {% endif %}
      </div>
    </form>
  </div>

  <script>
    // This updates the avatar
    const fileInput = document.querySelector('input[type="file"]')
    const labels = document.querySelectorAll('label')
    
    labels.forEach((label) => {
      label.classList.add('d-none')
    })
    
    fileInput.addEventListener('change', (event) => {
      const file = event.target.files[0]
      const image = document.querySelector('#avatar')
    
      if (file && file.type.includes('image')) {
        const url = URL.createObjectURL(file)
        image.src = url
      }
    })
    
    // This updates the name
    const display_nameInput = document.getElementById('id_displayname')
    const display_nameOutput = document.getElementById('displayname')
    
    display_nameInput.addEventListener('input', (event) => {
      display_nameOutput.innerText = event.target.value
    })
  </script>
{% endblock %}
