{% extends 'layouts/blank.html' %}

{% block content %}

<div class="container pt-5">
    <div class="mx-auto text-center">
        <img class="rounded-circle img-thumbnail mb-4" style="width: 140px; height: 140px; object-fit: cover;"
            src="{{ profile.avatar }}" alt="User Avatar">
        <div>
            <h1 class="h4">{{ profile.name }}</h1>
            <div class="text-muted">@{{ profile.user.username }}</div>
        </div>
        {% if profile.info %}
        <div class="mt-4 text-justify text-break">{{ profile.info|linebreaksbr }}</div>
        {% endif %}
        {% if profile.user != user %}
        <a class="btn btn-primary mt-4" href="{% url 'start-chat' profile.user.username %}">Chat with me</a>
        {% endif %}
    </div>
</div>

{% endblock %}
