{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Transcendence - Last project from 42 cursus. A platform for playing pong" />
        <title>Pong 42</title>
        <meta name="csrf-token" content="{{ csrf_token }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
        <link rel="stylesheet" href="{% static 'css/base_app.css' %}" />
    </head>
    <body>
        <header class="d-flex align-items-center justify-content-between bg-dark text-white sticky-top px-4 py-1" style="z-index: 2">
            <div class="d-flex align-items-center">
              <a class="d-flex align-items-center text-decoration-none text-white mr-4" href="/">
                <img class="mr-2 img-fluid" style="max-height: 55px;" src="{% static 'images/logo.png' %}" alt="Logo" />
              </a>
          
              <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="flex-direction: row;">
                <li class="nav-item m-2"><a href="{% url 'home' %}" class="nav-link">{% trans "Chat" %}</a></li>
                <li class="nav-item m-2"><a href="{% url 'pong_local' %}" class="nav-link">{% trans "Quick Match" %}</a></li>
                <li class="nav-item m-2"><a href="{% url 'snake' %}" class="nav-link">{% trans "Snake" %}</a></li>
                <li class="nav-item m-2"><a href="/play/" class="nav-link">{% trans "Tournament" %}</a></li>
              </ul>
          
              <div id="online-user-count" class="ml-3"></div>
            </div>
            <nav class="position-relative">
              <ul class="nav">
                {% if request.user.is_authenticated %}
          
                  <li class="nav-item dropdown">
                    <a class="nav-link text-white dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img class="rounded-circle mr-2" style="width: 40px; height: 40px; object-fit: cover;" src="{{ request.user.profile.avatar }}" alt="Avatar" />
                      <span>{{ request.user.profile.name }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-white text-dark shadow mt-0 mb-0 pt-0 pb-0" aria-labelledby="userDropdown">
                      <a class="dropdown-item" href="{% url 'profile' %}">{% trans "My Profile" %}</a>
                      <a class="dropdown-item" href="{% url 'profile-edit' %}">{% trans "Edit Profile" %}</a>
                      <a class="dropdown-item" href="{% url 'signout' %}">{% trans "Sign Out" %}</a>
                    </div>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'account_login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'account_signup' %}?next={% url 'profile-onboarding' %}">Signup</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </header>

        <div class="container-fluid app-container d-flex align-items-center justify-content-center">
            <div id="app" class="app m-4 w-100">
                {% block content %}
                {% endblock content %}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="module" src="{% static 'js/app/index.js' %}"></script>
        <script src="https://unpkg.com/loglevel/dist/loglevel.min.js"></script>
    </body>
</html>
