{% extends 'pong/base_app.html' %}
{% load static %}
{% block content %}
<div class="app-row d-flex flex-column flex-md-row justify-content-center gap-2 gap-md-4 px-3 px-md-4 px-lg-5">
    <div class="col col-12 col-md-4 d-flex flex-row flex-md-column gap-3 d-flex justify-content-center"
    id="game-data"
    data-tournament-id="{{ tournament.id }}"
    data-game-mode="tournament"
    data-username="{{ user.username }}">
    <div class="shadow-div">
        <div class="col-tournament p-0 rounded-4">
            <div class="title rounded-top-4 d-flex flex-row align-items-center justify-content-center">
                <p class="title rounded-top-4 text-center m-0 p-2 text-nowrap">Tournament</p>
            </div>
            <div class="p-3">
                <p class="text-tournament m-0 text-nowrap" id="statusParagraph"></p>
                <p class="text-tournament m-0 text-nowrap">Name: {{ tournament.name }}</p>
                <p class="text-tournament m-0 text-nowrap">Max Players:
                    <span id="maxPlayersValue">{{ tournament.max_players }}</span>
                </p>
                <p class="text-tournament m-0 text-nowrap" id="winnerParagraph"></p>
            </div>
        </div>
        <div class="col-tournament p-0 rounded-4">
            <div class="title rounded-top-4 d-flex flex-row align-items-center justify-content-center">
                <p class="title rounded-top-4 text-center m-0 p-2 text-nowrap">Players</p>
            </div>
            <div class="p-1 px-md-3">
                <div class="row justify-content-center gap-2" id="participantsList">
                    {% if tournament.max_players == 4 %}
                    <div class="col-12" style="display: inline-block; width: auto;">
                    {% endif %}
                    {% if tournament.max_players == 8 %}
                    <div class="col-6" style="display: inline-block; width: auto;">
                    {% endif %}
                        {% for i in participants_slots|slice:"0:4" %}
                            <p class="text-tournament m-0 text-center text-nowrap" id="participant-{{ i }}">
                                Player {{ i|add:1 }}
                            </p>
                        {% endfor %}
                    </div>
                    {% if tournament.max_players == 8 %}
                    <div class="col-6" style="display: inline-block; width: auto;">
                        {% for i in participants_slots|slice:"4:8" %}
                            <p class="text-tournament m-0 text-center text-nowrap" id="participant-{{ i }}">
                                Player {{ i|add:1 }}
                            </p>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-center gap-3">
                <button id="joinTournament" class="btn btn-custom mb-2">
                    <p class="btn-custom-name-enter m-0">Join</p>
                </button>
            </div>
        </div>
    </div>
    </div>

    <div class="col-matches col col-12 col-md-7 p-0 rounded-4">
        <div class="title rounded-top-4 d-flex flex-row align-items-center justify-content-center">
            <p class="title rounded-top-4 text-center m-0 p-2 text-nowrap">Matches</p>
        </div>
        <div class="matches p-2 d-flex flex-column gap-1 gap-md-2">
            {% if tournament.max_players == 8 %}
            <div id="quarter-finals">
                <p class="enter-title m-0">Quarterfinals</p>
                <div class="row d-flex justify-content-center gap-2">
                    {% for i in quarter_slots %}
                    <div class="create-room-box col col-5 rounded-4 px-2 d-flex justify-content-center">
                        <div class="d-flex flex-column py-1 rounded-3" id="Quarter{{ i }}">
                            <div class="text-tournament text-center m-0 text-nowrap" id="Quarter{{ i }}-p1">
                                TBD
                            </div>
                            <div class="text-tournament text-center m-0 text-nowrap" id="Quarter{{ i }}-p2">
                                TBD
                            </div>
                            <a class="btn-custom m-0 text-decoration-none rounded-2" id="Quarter{{ i }}-btn" data-link>
                                <p class="btn-custom-name-enter m-0 p-1 text-decoration-none text-center" style="font-size: 9px; pointer-events: none;">Play</p>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div id="semi-finals">
                <p class="enter-title m-0">Semifinals</p>
                <div class="row d-flex justify-content-center gap-2">
                    {% for i in semi_slots %}
                    <div class="create-room-box col col-5 rounded-4 px-2 d-flex justify-content-center">
                        <div class="d-flex flex-column py-1 rounded-3" id="Semi{{ i }}">
                            <div class="text-tournament text-center m-0 text-nowrap" id="Semi{{ i }}-p1">
                                TBD
                            </div>
                            <div class="text-tournament text-center m-0 text-nowrap" id="Semi{{ i }}-p2">
                                TBD
                            </div>
                            <a class="btn-custom m-0 text-decoration-none rounded-2" id="Semi{{ i }}-btn" data-link>
                                <p class="btn-custom-name-enter m-0 p-1 text-decoration-none text-center" style="font-size: 9px; pointer-events: none;">Play</p>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="final">
                <p class="enter-title m-0">Final</p>
                <div class="d-flex justify-content-center gap-2">
                    <div class="create-room-box col col-6 rounded-4 px-2 d-flex justify-content-center">
                        <div class="d-flex flex-column py-1 rounded-3" id="Final1">
                            <div class="text-tournament text-center m-0 text-nowrap" id="Final-p1">
                                TBD
                            </div>
                            <div class="text-tournament text-center m-0 text-nowrap" id="Final-p2">
                                TBD
                            </div>
                            <a class="btn-custom m-0 text-decoration-none rounded-2" id="Final-btn" data-link>
                                <p class="btn-custom-name-enter m-0 p-1 text-decoration-none text-center" style="font-size: 9px; pointer-events: none;">Play</p>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div id="messageContainer" class="text-play m-0 mt-2"></div>
    </div>
</div>
{% endblock %}
