<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste WebSocket</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        #status {
            margin: 20px 0;
            white-space: pre-line;  /* Permite que quebras de linha sejam respeitadas */
        }
    </style>
</head>
<body>
    <h1>Teste de Conexão WebSocket</h1>
    <div id="status">Conectando...</div>
    
    <input type="text" id="messageInput" placeholder="Digite sua mensagem">
    <button id="sendMessage">Enviar</button>

    <script>
        const socket = new WebSocket('ws://localhost:8001/ws/chat/'); // Ajuste o URL conforme necessário

        socket.onopen = function(e) {
            document.getElementById('status').innerText = 'Conexão estabelecida com sucesso!';
            socket.send(JSON.stringify({'message': 'Olá, servidor!'}));
        };

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.getElementById('status').innerText += '\n' + data.username + ': ' + data.message; // Ajuste para incluir o username
        };

        socket.onerror = function(e) {
            document.getElementById('status').innerText = 'Erro na conexão WebSocket.';
            console.error('Erro na conexão WebSocket: ', e);
        };

        socket.onclose = function(e) {
            document.getElementById('status').innerText = 'Conexão WebSocket fechada.';
        };

        // Aqui é onde você deve adicionar a função sendMessage
        function sendMessage() {
            const messageInput = document.getElementById('messageInput');
            const username = 'SeuNome';  // Você pode modificar essa linha para capturar o nome do usuário dinamicamente, se necessário
            const message = messageInput.value;
            
            if (message.trim() !== '') {  // Verifica se a mensagem não está vazia
                const data = {
                    'message': message,
                    'username': username
                };
                socket.send(JSON.stringify(data));
                messageInput.value = '';  // Limpa o campo de entrada
            }
        }

        document.getElementById('sendMessage').onclick = sendMessage;

        // Adiciona o evento keypress para o campo de entrada
        document.getElementById('messageInput').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        });
    </script>
</body>
</html>
